// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #E0E0E0;
@light-gray: #BDBDBD;
@gray: #9E9E9E;
@dark-gray: #616161;
@very-dark-gray: #424242;

@cyan: #80DEEA;
@blue: #29B6F6;
@purple: #9575CD;
@red: #FF5252;
@orange: #FFAB40;
@light-orange: #FFCC80;
@yellow: #FFEB3B;
@dark-lime: #00E676;
@magenta: #E91E63;
